.contact-header {
  margin-bottom: 30px;
  text-align: center;

  .contact-title {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .contact-subtitle {
    font-size: 1.6rem;
  }
}
