.subscribe {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

.subscribe-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;

  .subscribe-text {
    flex: 1 0 auto;
  }

  .icon {
    position: relative;
    font-size: 20px;
    padding-bottom: 1pt;
  }
}
