.work-item {
  margin-top: 2em;

  > h3 {
    margin: 0;
    font-size: 2rem;
  }

  > h4 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--secondary-text-color);
  }

  > p {
    margin: 0;
    font-size: 1.65rem;
  }

  @media (max-width: 767px) {
    > p {
      font-size: 1.55rem;
    }
  }

  h3 + h4 {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  h4 + p {
    margin-top: 0.8em;
  }
}
