@import "./content";
@import "./work";
@import "./education";

.site-content {
  flex-grow: 1;
  padding: 60px 0;
}

.container.site-main {
  padding-right: max(20px, 4vw);
  padding-left: max(20px, 4vw);
}

@media (max-width: 767px) {
  .site-content {
    padding: 40px 0;
  }
}
